.page_today {
  height: 100%;
  overflow: hidden;
}

button[class^="btn"] {
  border: none;
  background-color: initial;
  cursor: pointer;

  &[class$="_prev"] {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23fff9' stroke-width='2' points='7 2 17 12 7 22' transform='matrix(-1 0 0 1 24 0)'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    &:hover, &:active {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='2' points='7 2 17 12 7 22' transform='matrix(-1 0 0 1 24 0)'%3E%3C/polyline%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }

  &[class$="_next"] {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23fff9' stroke-width='2' points='7 2 17 12 7 22'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    &:hover, &:active {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='2' points='7 2 17 12 7 22'%3E%3C/polyline%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }

  &[class*="_add"] {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path fill="%23fff" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &[class*="_delete"] {
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path fill="%23dee2e6" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transition: .2s;

    span {
      width: 1px;
      height: 1px;
      margin: -1px;
      position: absolute;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    &:hover {
      background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path fill="%23ff6b6b" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path></svg>');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
  }

  &[class*="_day"],
  &[class*="_week"],
  &[class*="_month"] {
    color: #b3b3b3;
    padding: 8px 8px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    &:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      margin: 0 auto 8px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      transition: 0.2s;
      opacity: 0.3;
    }
    &.active {
      color: #000;
      border-color: #000;
    }
    &:hover::before, &.active:before {
      opacity: 1;
    }
  }

  &[class*="_day"]::before {
    background-image: url('data:image/svg+xml, <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path><path d="M12 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path></svg>');
  }
  &[class*="_week"]::before {
    background-image: url('data:image/svg+xml, <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path><path d="M12 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-5 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm2-3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-5 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path></svg>');
  }
  &[class*="_month"]::before {
    background-image: url('data:image/svg+xml, <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path><path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path></svg>');
  }
}
.select {
  display: flex;
	width: 100%;
	font-size: inherit;
	line-height: inherit;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background: #fff;
  
  select {
    width: 100%;
    height: 100%;
    padding: 8px 8px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
  }

  &.disabled select {
    color: #a7a7a7;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23a7a7a7%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
    background-color: #ebebeb;
    pointer-events: none;
  }
}

.controll_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 20px 0;
  margin: -20px -20px 0;
  position: relative;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(to right, #af94ff, #d4c9f5 40%);

  &.today {
    strong {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 80px;
      color: #fff;
      font-weight: initial;
      font-size: 18px;
      margin: 0 34px;
    }
  
    .point {
      height: 100%;
      font-weight: bold;
      font-size: 56px;
      font-style: initial;
      position: relative;
      padding-left: 40px;
  
      &::before {
        content: "";
        height: 30px;
        width: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20px;
        margin-top: auto;
        margin-bottom: auto;
        background: #fff;
      }
    }
  }

  &.week {
    flex-direction: column;
    strong {
      display: flex;
      justify-content: center;
      width: 200px;
      color: #fff;
      font-weight: initial;
      margin: 0 auto;
      font-size: 34px;
      font-weight: bold;
    }
    .point {
      display: flex;
      justify-content: space-between;
      width: 270px;
      text-align: center;
      margin-top: 8px;

      button {
        color: #fff9;
        font-size: 16px;
        padding: 0 8px;
        position: relative;
        transition: .2s;
        &::after {
          content: "";
          width: 0;
          height: 2px;
          margin: 0 auto;
          position: absolute;
          right: 0;
          bottom: -4px;
          left: 0;
          background: #fff;
          transition: .2s;
        }
        & + button {
          margin-left: 4px;
        }

        &:hover {
          color: #fff;
        }
        &.active {
          color: #fff;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  &.month {
    font-size: 36px;
    color: #fff;
  }

  > button {
    width: 24px;
    height: 24px;
    transition: 0.2s;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    &.btn_prev {
      left: 35px;
    }
    &.btn_next {
      right: 35px;
    }

    &.btn_change {
      position: absolute;
    }
  }
}

.todoList_col {
  display: flex;
  height: 360px;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;

  * + &  {
    margin-top: 20px;
  }

  li {
    display: flex;
    width: 100%;
    position: relative;

    &::after {
      content: "";
      height: 1px;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      background: #ececec;
    }
    p {
      font-size: 14px;
      &.times {
        width: 120px;
        padding: 0 12px 0 4px;
        box-sizing: border-box;
        position: relative;
        margin-right: 12px;

        &::after {
          content: "";
          width: 4px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          border-radius: 2px;
          background: #ccc;
        }
      }
      * {
        display: block;
      }

      span {
        display: block;
        margin-top: 4px;
      }
    }
    .btn_wrap {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}

.input_wrap {
  width: 100%;
  padding: 0 32px 58px 32px ;
  position: absolute;
  bottom: -100%;
  left: 0;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px solid #e9ecef;
  background: #f8f9fa;
  transition: 0.125s all ease-in;
  z-index: 2;

  &.open {
    bottom: 0;
  }

  dl {
    margin: 0;
  }
  dd {
    margin: 0;
  }

  [class^="input"] {
    border: 1px solid #ebebeb;
    padding: 8px 10px;
    border-radius: 4px;
    background: #fff;
    input {
      width: 100%;
      border: none;
      outline: none;
      background: initial;
    }
    & + * {
      margin-top: 10px;
    }

    &[class$="_time"] {
      display: flex;
      justify-content: space-around;
      input {
        width: 100px;
      }
      span {
        margin: 0 20px;
      }
    }
  }

  .set_text {
    padding: 32px 32px;
    margin: 0 -32px;
    position: relative;
    background: #fbfbfb;
    border-bottom: 1px solid #e9ecef;
    dt {
      font-size: 12px;
      margin-bottom: 16px;
      font-weight: bold;
    }
  }

  .set_times {
    margin-top: 24px;
    dt {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      margin-bottom: 16px;
      font-weight: bold;
    }
    .select_wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      div {
        display: flex;
        align-items: center;
        width: 100%;

        strong, span {
          flex-shrink: 0;
          font-size: 12px;
          font-weight: normal;
        }

        strong {
          margin: 0 12px 0 0;

          & + .select {
            margin-right: 12px;
          }
        }

        span {
          margin-left: 12px;

          &:not(:last-child) {
            margin: 0 12px;
          }
        }
      }
    }
  }

  button {
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding: 12px 20px;
    margin-top: 40px;
    border-radius: 4px;
    background: #d4c9f5;
    &.disabled {
      background-color: #ebebeb;
      pointer-events: none;
      color: #a7a7a7;
    }
  }
}

table {padding:0;border:0;border-spacing:0px;border-collapse:collapse;}
th, td {padding:0;}

.calendar_wrap {
  width: 100%;
  margin: 14px 0 0;
  thead tr th {
    padding: 12px 0;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
  }

  td {
    text-align: center;
    font-size: 18px;
    padding: 12px 4px;
    position: relative;
    &.active {
      font-weight: bold;
    }
  }

  thead tr th:first-of-type,
  td:first-of-type {
    color: red;
  }
  thead tr th:last-of-type,
  td:last-of-type {
    color: blue;
  }
}